#rule-list {
    cursor: pointer;
}

.rule-item {
    margin-bottom: 3px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
}

.rule-item:before,
.rule-item:after {
    content: " ";
    display: table;
}

.rule-item:after {
    clear: both;
}

.rule-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rule-info small {
    font-size: 65%;
}

.highlighted {
    background-color: rgba(97, 204, 236, .2); /* #61CCEC */
}

.remove-button, .edit-input-button {
    margin-left: 5px;
}

.edit-output-button {
    margin-left: 10px;
}

.similar-button {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
