#rule-list {
    cursor: pointer;
}

.rule-item {
    padding: 0.2em;
    border-radius: 10px;
}

.highlighted {
    background-color: rgba(97, 204, 236, .2); /* #61CCEC */
}

.remove-button, .edit-button {
    margin-left: 5px;
}

.similar-button {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
