.alert-msg {
    padding-left: 10px;
}

.feature-item, .value-item {
    margin-bottom: 10px;
}

#feature-list, #value-list {
    cursor: pointer;
}

.highlighted {
    background-color: rgba(97, 204, 236, .2); /* #61CCEC */
}

.selected {
    background-color: rgba(97, 204, 236, .45); /* #61CCEC */
}

input.fname,
input.fdescription {
    margin-top: 20px; /* Equal to margin-top of Bootstrap <h3> */
    margin-bottom: 10px; /* Equal to margin-top of Bootstrap <h3> */
}

.target {
    margin-bottom: 5px;
    cursor: pointer;
}

.remove-button {
    margin-left: 5px;
    cursor: pointer;
}

.droppable {
    width: 200px;
    height: 30px;
    border: solid 3px #94D6EA;
    border-radius: 10px;
    padding-left: 3px;
    padding-top: 2px;
    color: rgba(51, 51, 51, .45); /* #333333 */
    cursor: default;
}

.editable {
    cursor: text;
}

button.ftarget {
    margin-top: 10px;
}

button.vname {
    margin-top: 5px;
    margin-bottom: 10px;
}

.in-motion {
    border-radius: 5px;
    border: solid 1px #94D6EA;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #FFF;
}
