.droppable {
    width: 200px;
    height: 30px;
    border: solid 3px #94D6EA;
    border-radius: 10px;
    padding-left: 3px;
    display: table-cell;
    vertical-align: middle;
}

.alert-msg {
    padding-left: 10px;
}

.feature-item {
    margin-bottom: 10px;
}

.value-item {
    margin-bottom: 10px;
}

#feature-list {
    cursor: pointer;
}

#value-list {
    cursor: default;
}

.highlighted {
    background-color: rgba(97, 204, 236, .2); /* #61CCEC */
}

.selected {
    background-color: rgba(97, 204, 236, .45); /* #61CCEC */
}