input.name,
input.description {
    margin-top: 20px; /* Equal to margin-top of Bootstrap <h3> */
    margin-bottom: 10px; /* Equal to margin-top of Bootstrap <h3> */
}

.bracket {
    display: inline-block;
    width: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.bracket-left {
    border-left: 3px solid black;
}

.bracket-right {
    border-right: 3px solid black;
}

.content {
    display: inline-block;
    vertical-align: top;
}

.pair {
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.pair:after {
    clear: both;
    display: table;
    content: " ";
}

.value {
    display: inline-block;
    margin-left: 10px;
    float: right;
}

.empty-button {
    margin-left: 5px;
    cursor: pointer;
}
