#parts-list {
    cursor: pointer;
}

input.name,
input.description {
    margin-top: 20px; /* Equal to margin-top of Bootstrap <h3> */
    margin-bottom: 10px; /* Equal to margin-top of Bootstrap <h3> */
}

.plus-button {
    margin-left: 7px;
    cursor: pointer;
}

.parts-table {
    margin-bottom: 7px;
}

.slot {
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgba(51, 51, 51, .30); /* #333333 */
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.controls {
    display: inline-block;
}

hr {
    margin-top: 2px; /* Bootstrap uses 20px here */
    margin-bottom: 2px; /* Bootstrap uses 20px here */
}

.output-string {
    margin-bottom: 4px;
}

.sep {
    border: 1px solid rgba(148, 214, 234, 0); /* #94D6EA */
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.sep:hover {
    border: 1px solid rgba(148, 214, 234, 1); /* #94D6EA */
}

.remove-button {
    margin-left: 5px;
    cursor: pointer;
}

.placeholder {
    color: rgba(51, 51, 51, .45); /* #333333 */
    padding-left: 3px;
}

.output-string > .placeholder {
    border: solid 2px #94D6EA;
    border-radius: 5px;
    margin-left: 12px;
    padding-right: 3px;
    cursor: default;
}

.slot > .placeholder {
    display: inline-block;
    min-width: 55px;
    height: 25px;
    border: solid 2px #94D6EA;
    border-radius: 5px;
    margin-bottom: 2px;
    padding-right: 3px;
    cursor: text;
}

.combination-group > .placeholder {
    width: 200px;
    height: 30px;
    border: solid 3px #94D6EA;
    border-radius: 10px;
    margin-top: 5px;
    padding-top: 2px;
    cursor: text;
}

.placeholder + button, .form-control + button {
    margin-top: 5px;
}
