input.name,
input.description {
    margin-top: 20px; /* Equal to margin-top of Bootstrap <h3> */
    margin-bottom: 10px; /* Equal to margin-top of Bootstrap <h3> */
}

.parts-table {
    margin-bottom: 7px;
}

.slot {
    display: inline-block;
    margin-right: 10px;
}

.sep {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.sep:hover {
    border: 1px solid #94D6EA;
    border-radius: 3px;
}

.remove-button {
    margin-left: 5px;
    cursor: pointer;
}

.placeholder {
    width: 200px;
    height: 30px;
    border: solid 3px #94D6EA;
    border-radius: 10px;
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 3px;
    color: rgba(51, 51, 51, .45); /* #333333 */
    cursor: default;
}

.placeholder + button, .form-control + button {
    margin-top: 5px;
}
