@(rule: nodes.Rule)

@main("Ode: Rule Details") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/details.css")">
  <script src="@routes.Assets.at("js/details.js")" type="text/javascript"></script>

  <div class="container-full">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>
          @@@rule.name
          <small>
            <a href="@routes.Rules.similar(rule.name)"
               class="btn btn-success"
               id="similar-button">Similar rules</a>
            <a href="@routes.Rules.output(rule.name)"
               class="btn btn-success"
               id="edit-output-button">Edit output</a>
            <a href="@routes.Rules.input(rule.name)"
               class="btn btn-success"
               id="edit-input-button">Edit input</a>
          </small>
        </h2>
        <h4 class="description">@rule.description</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="lhs" data-json="@rule.lhs.json"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="rhs" data-json="@rule.rhs.json"></div>
      </div>
    </div>

  </div>

}
