@(features: List[Feature])(form: Form[Application.FeatureForm])

@main("Ode: Feature Editor") {
  <div class="container-full">
    <div class="row">

      <div class="col-md-3">
        <h3>Features</h3>
        @for(feature <- features) {
          <p>
            <a href="#" class="feature-item"
               data-ftype="@feature.featureType">@feature.name</a>
          </p>
        }
        <p>
          <button id="new-feature-button" class="btn btn-info">
            New Feature
          </button>
        </p>
      </div>

      <div id="feature-form" class="col-md-6">
        @helper.form(routes.Application.feature) {
          <p>
            <input type="text" name="name" value="@form("name").value" />
          </p>
          <p>
            <input type="radio" name="type" value="complex" id="type_complex" />
            <label for="type_complex">complex</label>
          </p>
          <p>
            <input type="radio" name="type" value="atomic" id="type_atomic "/>
            <label for="type_atomic">atomic</label>
          </p>
          <p>
            <button type="submit">Save</button>
          </p>
          @if(flash.contains("success")) {
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
              </button>
              <strong>Success:</strong> @flash.get("success")
            </div>
          }
          @if(flash.contains("error")) {
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
              </button>
              <strong>Error:</strong> @flash.get("error")
            </div>
          }
        }
      </div>

      <div id="feature-properties" class="col-md-6">
        <h3 id="fname"></h3>
        <p>
          <input type="radio" name="type" value="complex" id="type-complex" />
          <label for="type-complex">complex</label>
          &nbsp;
          <input type="radio" name="type" value="atomic" id="type-atomic"/>
          <label for="type-atomic">atomic</label>
        </p>
      </div>

    </div>
  </div>
}
