@(features: List[Feature])(form: Form[Features.NewFeatureForm])(values: List[Value])

@main("Ode: Feature Editor") {
  <div class="container-full">
    <div class="row">

      <div class="col-md-3">

        <h3>Features</h3>
        <p>
          <input id="feature-filter" class="form-control" type="text"
                 placeholder="Filter ..." />
        </p>

        @for(feature <- features) {

          <p class="feature-item">
            <a href="#@feature.name"
               class="feature-name draggable ui-widget-content">
              @feature.name
            </a>
            <button class="btn btn-xs btn-warning delete-feature-button">
              Delete
            </button>
          </p>

          <!-- Edit block for individual feature: -->
          <div id="@feature.name" class="edit-feature-block">

            <div contenteditable="true">
              <h3 class="name" data-name="@feature.name">@feature.name</h3>
            </div>
            <button class="btn btn-xs btn-info update-feature-name">
              Update name
            </button>

            <div contenteditable="true">
              <span class="description">@feature.getDescription</span>
            </div>
            <button class="btn btn-xs btn-info update-feature-description">
              Update description
            </button>

            @if(feature.getType == "complex") {
              <form role="form" data-feature="@feature.name">
                <p>
                  <label>
                    <input type="radio" name="type" value="complex"
                           checked="checked" />
                    complex
                  </label>
                </p>
                <p>
                  <label>
                    <input type="radio" name="type" value="atomic" />
                    atomic
                  </label>
                </p>
                <p>
                  <button class="btn btn-sm btn-info update-type">
                    Update type
                  </button>
                </p>
              </form>

              <h4>Features permitted in substructure:</h4>

            } else {
              <form role="form" data-feature="@feature.name">
                <p>
                  <label>
                    <input type="radio" name="type" value="complex" />
                    complex
                  </label>
                </p>
                <p>
                  <label>
                    <input type="radio" name="type" value="atomic"
                           checked="checked" />
                    atomic
                  </label>
                </p>
                <p>
                  <button class="btn btn-sm btn-info update-type">
                    Update type
                  </button>
                </p>
              </form>

              <h4>Permitted values:</h4>

            }

            @for(target <- feature.targets) {
              <form role="form"
                    data-feature="@feature.name"
                    data-type="@feature.getType"
                    data-target="@target">
                <div class="target-name">
                  @target
                  <button class="btn btn-xs btn-warning delete-target">
                    Delete
                  </button>
                </div>
              </form>
            }

            <form role="form"
                  data-feature="@feature.name" data-type="@feature.getType">
              @if(feature.getType == "complex") {
                <div class="droppable ui-widget-header"></div>
              } else {
                <div class="droppable ui-widget-header"
                     contenteditable="true">
                </div>
              }
              <button class="btn btn-sm btn-info add-targets">
                Add
              </button>
            </form>

          </div>
        }

        <p>
          <button id="new-feature-button" class="btn btn-info">
            New Feature
          </button>
        </p>

      </div>

      <!-- Block to hold functionality for adding or updating feature: -->
      <div id="interaction-block" class="col-md-6"></div>

      <!-- Block for creating new feature: -->
      <div id="new-feature-block">
        <h3>Create a new feature</h3>
        @helper.form(routes.Features.createFeature) {
          <p>
            <label for="fname">Name:</label>
            <input type="text" name="name" value="@form("name").value"
                   id="fname" class="form-control" />
          </p>
          <p>
            <label for="fdescription">Description:</label>
            <input type="text" name="description"
                   value="@form("description").value"
                   id="fdescription" class="form-control" />
          </p>
          <p>
            <input type="radio" name="type" value="complex"
                   id="type-complex" />
            <label for="type-complex">complex</label>
          </p>
          <p>
            <input type="radio" name="type" value="atomic"
                   id="type-atomic "/>
            <label for="type-atomic">atomic</label>
          </p>
          <p>
            <button class="btn btn-lg btn-success" type="submit">
              Save
            </button>
          </p>
        }
      </div>

      <!-- Block for displaying available values: ... -->
      <div id="value-list" class="col-md-3">
        <h3>Values</h3>
        <p>
          <input id="value-filter" class="form-control" type="text"
                 placeholder="Filter ..." />
        </p>
        @for(value <- values) {
          <div class="value draggable" contenteditable="true"
               data-value="@value.name">
            @value.name
            <button class="btn btn-xs btn-info rename-value-button">
              Rename
            </button>
          </div>
        }
      </div>
    </div>

    <!-- Separate row for displaying error messages: -->
    <div class="row">
      @if(flash.contains("success")) {
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert"
                  aria-hidden="true">
            &times;
          </button>
          <strong>Success:</strong> @flash.get("success")
        </div>
      }
      @if(flash.contains("error")) {
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert"
                  aria-hidden="true">
            &times;
          </button>
          <strong>Error:</strong> @flash.get("error")
        </div>
      }
    </div>

  </div>
}
