@(features: List[Feature])(form: Form[Features.NewFeatureForm])(values: List[Value])

@main("Ode: Feature Editor") {
  <div class="container-full">
    <div class="row">

      <div class="col-md-3">
        <h3>Features</h3>
        @for(feature <- features) {
          <p>
            <a href="#@feature.name" class="feature-item">@feature.name</a>
          </p>
          <!-- Edit block for individual feature: -->
          <div id="@feature.name" class="edit-feature">
            <h3>@feature.name</h3>
            <p>@feature.description</p>
            <form method="POST" action="/features/@feature.name">
              @if(feature.featureType == "complex") {
                <p>
                  <input type="radio" name="type" value="complex"
                         id="type-complex" checked="checked" />
                  <label for="type-complex">complex</label>
                </p>
                <p>
                  <input type="radio" name="type" value="atomic"
                         id="type-atomic"/>
                  <label for="type-atomic">atomic</label>
                </p>

                <h4>Features permitted in substructure:</h4>
                @for(value <- feature.values) {
                  <p>@value</p>
                }
                <input type="text" name="feature" value="" />
              } else {
                <p>
                  <input type="radio" name="type" value="complex"
                         id="type-complex" />
                  <label for="type-complex">complex</label>
                </p>
                <p>
                  <input type="radio" name="type" value="atomic"
                         id="type-atomic" checked="checked" />
                  <label for="type-atomic">atomic</label>
                </p>

                <h4>Permitted values:</h4>
                @for(value <- feature.values) {
                  <p>@value</p>
                }
                <input type="text" name="value" value="" />
              }
              <p>
                <button type="submit">Update</button>
              </p>
            </form>
          </div>
        }
        <p>
          <button id="new-feature-button" class="btn btn-info">
            New Feature
          </button>
        </p>
      </div>

      <!-- Block to hold functionality for adding or updating feature: -->
      <div id="interaction-block" class="col-md-6"></div>

      <!-- Block for creating new feature: -->
      <div id="new-feature">
        <h3>Create a new feature</h3>
        @helper.form(routes.Features.createFeature) {
          <p>
            <label for="feature-name">Name:</label>
            <input type="text" name="name" value="@form("name").value"
                   id="feature-name" />
          </p>
          <p>
            <label for="feature-description">Description:</label>
            <input type="text" name="description"
                   value="@form("description").value"
                   id="feature-description" />
          </p>
          <p>
            <input type="radio" name="type" value="complex"
                   id="type-complex" />
            <label for="type-complex">complex</label>
          </p>
          <p>
            <input type="radio" name="type" value="atomic"
                   id="type-atomic "/>
            <label for="type-atomic">atomic</label>
          </p>
          <p>
            <button type="submit">Save</button>
          </p>
        }
      </div>

      <!-- Block for displaying available values: ... -->
      <div id="value-list" class="col-md-3">
        <h3>Values</h3>
        @for(value <- values) {
          <p>@value.name</p>
        }
      </div>
    </div>

    <!-- Separate row for displaying error messages: -->
    <div class="row">
      @if(flash.contains("success")) {
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert"
                  aria-hidden="true">
            &times;
          </button>
          <strong>Success:</strong> @flash.get("success")
        </div>
      }
      @if(flash.contains("error")) {
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert"
                  aria-hidden="true">
            &times;
          </button>
          <strong>Error:</strong> @flash.get("error")
        </div>
      }
    </div>

  </div>
}
