@(message: String)(form: Form[Application.Login])

@main("Ode: Login") {
  @message
  @helper.form(routes.Application.authenticate) {
    <h1>Sign in</h2>
    <p>
      <input type="email" name="email" value="@form("email").value" placeholder="Email">
    </p>
    <p>
      <input type="password" name="password" placeholder="Password">
    </p>
    <p>
      <button type="submit">Login</button>
    </p>
    @if(form.hasGlobalErrors) {
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          &times;
        </button>
        <strong>Error:</strong> @form.globalError.message
      </div>
    }
    @if(flash.contains("success")) {
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          &times;
        </button>
        <strong>Success:</strong> @flash.get("success")
      </div>
    }
  }
}
