@main("Ode: Not Found") {

  <script src="@routes.Assets.at("js/error.js")" type="text/javascript"></script>

  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1>
          <span class="glyphicon glyphicon-warning-sign"></span>
          Something went wrong.
        </h1>
        <p>
          Or, as they say at GitHub:
          <a href="https://github.com/400">
            <i>This is not the web page you are looking for.</i>
          </a>
        </p>
        <p>
          Use the <button id="back">Back</button> button of your
          browser to go back and try something else.
        </p>
      </div>
    </div>
  </div>

}
