@(rule: nodes.Rule)

@main("Ode: Output Builder") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/output.css")">
  <script src="@routes.Assets.at("js/output.js")" type="text/javascript"></script>

  <div class="container-full">
    <div class="row">
      <div id="left-sidebar" class="col-md-3">
        <h3>Parts</h3>
          <p>
            <input id="parts-filter" class="form-control" type="text"
                   placeholder="Filter ..." />
          </p>
          <div id="parts-list">
          </div>
      </div>

      <div id="interaction-block" class="col-md-9">
        <h3 id="rule-name">@rule.name</h3>
        <p id="rule-description">@rule.description</p>
        <div id="rule-lhs" data-json="@rule.lhs.json"></div>
      </div>

      <div id="rule-rhs" class="col-md-9"></div>

    </div>
  </div>

}
